/*  ==========================================================================
		Variables and imports
    ==========================================================================  */

$select-colour:#b3d4fc;
$headingStack:"jaf-lapture-1","jaf-lapture-2", sans-serif;
$bodyStack:"minion-pro-1","minion-pro-2", serif;

@import "sass/normalize";
@import "sass/h5bp";
@import "sass/mixins";
@import "compass";

* { @include border-box; }

/*  ==========================================================================
		Typograohical
    ==========================================================================  */

    $linkColour:red;

    body{
        font-family: $bodyStack;
        background: blue;
    }    
    a{
        text-decoration:none;
        color:$linkColour;
    }
    #brand h1{
        font-family: $headingStack;
        font-size:164px;
        margin:0px;
        //line-height:50px;
        font-weight:normal;

    }
    article{
        p{
            line-height:28px;
        }
    }
    .postTitle{
        font-family: $headingStack;
        font-size:44px;
        line-height:34px;
        font-weight:normal;
    }
    .postMeta{
        font-style:italic;
        float:right;
    }

/*  ==========================================================================
		Mobile / All Styles
    ==========================================================================  */


	
    body{    
        margin:auto;
        padding:12px;
        max-width:732px;
    }

    nav{
        
        ul{
            overflow:auto;
            padding:0;
        }
        li{
            float:left;
            padding-right:24px;
        }
    }

    article{
        overflow:auto;
    	padding-bottom:1px;
    	margin-bottom:80px;
    	img{
    		max-width:100%;
    		min-width:100%;
    	}
        
    }

	


/*  ==========================================================================
		Tablet Styles
    ==========================================================================  */

@media only screen and (min-width: 480px) {
	
}

/*  ==========================================================================
		Screen Styles
    ==========================================================================  */





@import "sass/h5bp2";
