

@mixin border-box(){
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box; 
}

@mixin shadow($args:5px 5px 5px rgba(0,0,0,0.5)){
	-webkit-box-shadow: $args;
	   -moz-box-shadow: $args;
	        box-shadow: $args;
}

@mixin rotate($angle: 7deg) {
  	-webkit-transform: rotate($angle);  /* Safari 3.1+, Chrome */
       -moz-transform: rotate($angle);  /* Firefox 3.5-15 */
        -ms-transform: rotate($angle);  /* IE9+ */
         -o-transform: rotate($angle);  /* Opera 10.5-12.00 */
            transform: rotate($angle);  /* Firefox 16+, Opera 12.50+ */
}

@mixin trans($args:all 0.3s ease-out) {
	-webkit-transition: $args;  /* Safari 3.2+, Chrome */
       -moz-transition: $args;  /* Firefox 4-15 */
         -o-transition: $args;  /* Opera 10.5–12.00 */
            transition: $args;  /* Firefox 16+, Opera 12.50+ */
}