---
layout: default
---
<article>
	{% if page.featured %}
		<img class="featuredImage" src="/img/{{ page.featured }}" {% if page.featured %}alt="{{ page.featuredAlt }}"{% endif %}>
	{% endif %}
	
	<div class="postHead">
		{% if page.title %}
			<h2 class="postTitle">{{ page.title }}</h2>
		{% endif %}
	</div>	
				
	{{ content }}
	<p class="postMeta">...written in <strong>{{ page.date | date: "%B, %Y" }}</strong> and categorised as {{ page.categories | category_links }}.</p>	

	<div style="clear:both">{% include next.html %}</div>

	

</article>
